.infoTable {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #000;
}

.infoTh {
  width: 20%;
  padding: 6px 8px;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.infoTd {
  width: 30%;
  padding: 6px 8px;
  vertical-align: top;
  border-bottom: 1px solid #ddd;
}
