.main-title {
  background: var(--red-9);
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid var(--gray-12);
}

.info-th {
  width: 20%;
  padding: 6px 8px;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  border-bottom: 1px solid var(--gray-6);
  text-transform: uppercase;
}

.info-td {
  width: 30%;
  padding: 6px 8px;
  vertical-align: top;
  border-bottom: 1px solid var(--gray-6);
}

.sub-title {
  text-align: center;
  text-transform: uppercase;
}

.guest-grid {
  border-top: 2px solid var(--gray-12);
}

.guest-row {
  padding: 5px;
  border-bottom: 1px solid var(--gray-6);
}
