.root {
  max-width: 380px;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
}

.google-button {
  background: #fff;
  border: 1px solid #747775;
  color: #1f1f1f;

  &:hover {
    box-shadow:
      0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0px 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
}
