.radix-themes {
  .rt-TableRootTable {
    .rt-TableBody:nth-of-type(even) {
      background-color: var(--gray-2);
    }

    .rt-TableBody.is-disabled {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }

  .rt-TableCell {
    vertical-align: middle;
  }

  .rt-TextFieldInput {
    &::placeholder {
      color: var(--gray-8);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font:
    16px/1.5 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
svg {
  display: inline-block;
}

button:not(:disabled) {
  cursor: pointer;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.w-full {
  width: 100%;
}

.invisible {
  visibility: hidden;
}
