.root :global(section[id]) {
  scroll-margin-left: 130px;
  scroll-margin-inline-start: 130px;
}
.sticky-card:global(.rt-BaseCard) {
  overflow: visible;
}

.form-field-group {
  padding: 5px;
  border-radius: 12px;

  &:not(:first-child) {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 2px solid var(--gray-5);
  }
}

.is-dirty {
  background-color: var(--gray-5);
}

.exchange-rate-card {
  padding: 12px;
  border-radius: 12px;
  background-color: var(--gray-5);
}

.progress-button {
  position: relative;
}

.progress-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f44336;
}
