.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.th {
  text-align: center;
  padding: 6px;
  border: 1px solid #ddd;
  background: #f8f8f8;
}
.td {
  text-align: center;
  padding: 8px 6px;
  border: 1px solid #ddd;
}

@media print {
  .table {
    page-break-inside: avoid;
  }
}
